{% extends 'common/parent.html' %}
{% load static %}

{% block title %}
    超市
{% endblock %}
{% block head_css %}
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }


    </style>
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <form action="{% url 'search:haystack_search' %}" method="get">
        <div class="cate-search">
            <input type="text" name="q" class="cate-input" placeholder="{{ query|default:'请输入你要查询内容的关键字' }}"/>
            <input type="submit" value="" class="cate-btn"/>
        </div>
            </form>
    </header>
{% endblock %}
{% block content %}

    <div class="content-list">

        <div class="">
            <ul class="list-pro">
                {% for search in page %}
                    <li>
                        <a href="{% url '商品首页:商品详情' search.object.pk %}"><img src="{{ MEDIA_URL }}{{ search.object.logo }}"
                                                                          class="list-pic"/></a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit"><a href="{% url '商品首页:商品详情' search.object.pk %}">
                                {{ search.object.goods_spu.spu_name }}{{ search.object.sku_name }}</a></div>
                            <div class="am-gallery-desc">￥{{ search.object.price }}</div>
                            <p>销量：{{ search.object.sales_val }}件</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
                                <a class="increase">+</a>
                            </div>
                        </div>
                        <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
                    </li>
                {% empty %}
                    <li>
                        <a href="{% url '商品首页:商品类型' '' '' %}">该分类下商品不见了！！</a>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>
{% endblock %}









