{% extends 'common/parent.html' %}
{% load static %}

{% block title %}
    个人资料
{% endblock %}

{% block header %}

		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">个人资料</a>
            </h1>
	    </header>
    <div style="height: 49px;"></div>
{% endblock %}



{% block content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
	    <ul class="safty1">
	    	<li>

	    			<i style="margin-top: 25px;">头像
                    </i>
	    			<div class="infor-pic">
	    				<img src="{% static 'images/touxiang.jpg' %}"/>
	    			</div>

	    	</li>
	    	<li>

	    			<i>昵称</i>
	    			<input class="infor-tele" placeholder="王大亮"/>

	    	</li>
	    	<li>

	    			<i>性别</i>
	    			<i class="infor-tele">
	    				<label class="am-radio-inline">
				          <input type="radio" name="radio10" checked="checked" value="1" data-am-ucheck>男
				        </label>
				        <label class="am-radio-inline">
				          <input type="radio" name="radio10" value="1" data-am-ucheck>女
				        </label>
	    			</i>

	    	</li><li>

	    			<i>生日</i>
                    <input class="infor-tele" placeholder="出生日期"/>

	    	</li>
	    </ul>
	    <div style="height: 10px; background: #efefef;"></div>
	     <ul class="safty1">
	    	<li>
	    			<i>学校</i>
	    			<input class="infor-tele" placeholder="就读于哪个学校"/>	    			
	    	</li>
	    	<li>
	    			<i>位置</i>
	    			<input class="infor-tele" placeholder="详细地址"/>	    			
	    	</li>
	    	<li>
	    			<i>故乡</i>
                    <input class="infor-tele" placeholder="来自哪里"/>
	    	</li>
	    	<li>
	    			<i>手机</i>
                    <input class="infor-tele" placeholder="13012345678"/>
	    	</li>
	    </ul>
	    <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
         <button type="submit" class="btn btn-success">保存修改</button>
  </form>

{% endblock %}