{% extends 'common/parent.html' %}
{% load static %}

{% block title %}
    登录
{% endblock %}

{% block content %}
    <input type="text" name="mobile" id="mobile" placeholder="请输入用户名/手机号" class="login-name">
    <input type="password" name="password" id="password" placeholder="请输入密码" class="login-password">
    <input type="button" class="login-btn" value="我要登录">
    <div class="agree">
        <a href="reg.html">免费注册</a>
        <a href="forgetpassword.html" class="forget">忘记密码？</a>
    </div>
    <div class="line"></div>
    <div class="line-text">第三方账号登录</div>
    <ul class="second-login">
        <li><a href=""><img src="{% static 'images/wxlogin.png' %}"/></a></li>
        <li><a href=""><img src="{% static 'images/qqlogin.png' %}"/></a></li>
        <li><a href=""><img src="{% static 'images/sinalog.png' %}"/></a></li>
    </ul>
{% endblock %}