{% extends 'common/parent.html' %}
{% load static %}

{% block title %}
    修改密码
{% endblock %}

{% block header %}
<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">修改密码</a>
            </h1>
	    </header>
{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

	    <div style="height: 49px;"></div>
	    <input type="text" name="mobile" placeholder="旧密码" class="login-password">
	    <input type="text" name="mobile" placeholder="新密码" class="login-name">
	    <input type="text" name="mobile" placeholder="确认新密码" class="login-password">
	    <input type="submit" class="login-btn" value="确认">
    </form><

{% endblock %}
