{% extends 'common/parent.html' %}
{% load static %}

{% block title %}
    确认支付
{% endblock %}

{% block head_js %}
    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/iscroll.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#beginTime').date();
            $('#endTime').date({theme: "datetime"});
        });
    </script>
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">确认支付</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}


{% block content %}
    <h5 class="order-tit">收货人信息</h5>
    <div class="order-name">
        <p class="order-tele">{{ order.username }}&nbsp;&nbsp;&nbsp;{{ order.phone }}</p>
        <p class="order-add">{{ order.address }}</p>
    </div>
    <div style="background: #eee; height: 10px;"></div>
    <h5 class="order-tit">确认订单信息</h5>
    <ul class="shopcart-list" style="padding-bottom: 0; margin-top: 0;">
        {% for order_goods in order.ordergoods_set.all %}
            <li>
                <img src="{{ MEDIA_URL }}{{ order_goods.goods_sku.logo }}" class="shop-pic"/>
                <div class="order-mid">
                    <div class="tit">{{ order_goods.goods_sku.goods_spu.spu_name }}&nbsp;&nbsp;{{ order_goods.goods_sku.sku_name }}</div>
                    <div class="order-price">￥{{ order_goods.price }} <i>X{{ order_goods.count }}</i></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <ul class="order-infor">
        <li class="order-infor-first">
            <span>商品总计：</span>
            <i>￥{{ order.goods_total_price }}</i>
        </li>
        <li class="order-infor-first">
            <span>运费：</span>
            <i>{{ order.transport }}-￥{{ order.transport_price }}</i>
        </li>
        {#        <li class="order-infor-first">#}
        {#            <a href="integral.html">积分抵费></a>#}
        {#        </li>#}
        {#        <li class="order-infor-first">#}
        {#            <a href="yhq.html">选择优惠券></a>#}
        {#        </li>#}
    </ul>
    <div style="background: #eee; height: 10px;"></div>
    <textarea placeholder="备注说明" class="bz-infor"></textarea>
    <div style="background: #eee; height: 10px;"></div>




    <ul class="pay-style">
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="order_sn" value="{{ order.order_sn }}">
            {% for payment in payments %}
                <li>
                    <img src="{{ MEDIA_URL }}{{ payment.logo }}" width="50"/>
                    <span>
                        <p>{{payment.name}}</p>
                        <p class="descript">{{payment.brief}}</p>
                    </span>
                    <label class="am-radio-inline">
                        <input type="radio" {% if payment.is_tj %}checked="checked"{% endif %} name="payment" value="{{payment.pk}}" data-am-ucheck>
                    </label>
                </li>
            {% endfor %}
        </form>

    </ul>

     <div class="shop-fix">
        <div class="order-text">
            应付总额：<span>￥{{ order.order_price }}</span>
        </div>
        <a href="javascript:;" class="js-btn">确认支付</a>
    </div>

    <div style="height: 55px;"></div>
{% endblock %}

<!--底部-->
{% block footer %}
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="index.html" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="shopcart.html" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="allorder.html" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="member.html" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block footer_js %}
    <script>
        $(function () {
            //点击按钮确认支付
            $(".js-btn").on('click',function () {
                //准备数据
                var data = $("form").serialize();
                //发起请求
                $.ajax({
                    type:"post",
                    url:"{% url '订单:确认支付' %}",
                    data:data,
                    dataType:"json",
                    success:function (data) {
                        {#console.debug(data);#}
                        if (data.code == 0){
                            //成功跳转到支付地址
                            location.href = data.data;
                        }else {
                            alert(data.errmsg);
                        }
                    }
                });
            })
        })
    </script>
{% endblock %}
 

