{% extends 'common/parent.html' %}
{% load static %}

{% block title %}
    支付结果
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">完成支付</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}


{% block content %}
    <ul class="order-detail">
        <li><span>订单编号：</span>{{ order_sn }}</li>
        <li><span>订单总价：</span>￥{{ total_amount }}</li>
    </ul>
    <input type="button" class="login-btn" value="{{ result }}">
{% endblock %}
