{% extends 'common/parent.html' %}
{% load static %}

{% block title %}
    超市
{% endblock %}
{% block head_css %}
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }

        .list-price {
            background: url({% if order == 2 %}{% static 'images/order-bot.png'%}{% elif order == 3 %}{% static 'images/order-top.png' %}{% else %}{% static 'images/order.png' %} {% endif %}) no-repeat right center;
            padding-right: 20px;
            font-style: normal;
        }
    </style>
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <div class="cate-search">

            <a href="{% url 'search:haystack_search' %}"> <input type="text"  class="cate-input" placeholder="请输入您要的搜索的产品关键词"/></a>
            <input type="button" class="cate-btn"/>
        </div>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}
{% block content %}

    <ul class="list-nav">
        <li {% if order == 0 %}class="current" {% endif %}><a href="{% url '商品首页:商品类型' cate_id 0 %}">综合</a></li>
        <li{% if order == 1 %} class="current" {% endif %}><a href="{% url '商品首页:商品类型' cate_id 1 %}">销量</a></li>
        <li{% if order == 2 or order == 3 %} class="current" {% endif %} ><a href="{% url '商品首页:商品类型' cate_id 2 %}"><i
                class="list-price">价格</i></a></li>
        <li{% if order == 4 %} class="current" {% endif %}><a href="{% url '商品首页:商品类型' cate_id 4 %}">新品</a></li>
    </ul>
    <div class="content-list">
        <div class="list-left">
{##}
{#            {% for category in categorys %}#}
{#                <li  {% if cate_id == category.pk %} class="current">{% endif %}#}
{#                    <a href="{% url '商品首页:商品类型' category.pk order %}">{{ category.type_name }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
            {% for category in categorys %}
                <li {% if cate_id == category.pk %}class="current"{% endif %}>
                    <a href="{% url '商品首页:商品类型' category.pk order %}">{{ category.type_name }}</a>
                </li>
            {% endfor %}

        </div>
        <div class="list-right">
            <ul class="list-pro">
                {% for goods_sku in goods_skus %}
                    <li>
                        <a href="{% url '商品首页:商品详情' goods_sku.pk %}"><img src="{{ MEDIA_URL }}{{ goods_sku.logo }}"
                                                                          class="list-pic"/></a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit"><a href="{% url '商品首页:商品详情' goods_sku.pk %}">
                                {{ goods_sku.goods_spu.spu_name }}{{ goods_sku.sku_name }}</a></div>
                            <div class="am-gallery-desc">￥{{ goods_sku.price }}</div>
                            <p>销量：{{ goods_sku.sales_val }}件</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
                                <a class="increase">+</a>
                            </div>
                        </div>
                        <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
                    </li>
                {% empty %}
                    <li>
                        <a href="{% url '商品首页:商品类型' '' '' %}">该分类下商品不见了！！</a>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div class="fix-bot">
        <div class="fix-bot-cart"><i>8</i></div>
        <a href="tureorder.html" class="list-js">去结算</a>
        <a href="tureorder.html" class="list-jsk">一键快购</a>
        <!--<div class="js-text">
           <p><b>￥217.80</b></p>
           <p class="js-car">购物满50元免运费</p>
     </div>-->
    </div>

{% endblock %}





{% block footer_js %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                if (current_num > 0) {
                    self.siblings(".decrease").fadeIn();
                    self.siblings(".text_box").fadeIn();
                }
                self.siblings('input').val(current_num);
                update_item(self.siblings('input').data('item-id'));
            })
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num > 0) {
                    current_num -= 1;
                    if (current_num < 1) {
                        self.fadeOut();
                        self.siblings(".text_box").fadeOut();
                    }
                    self.siblings('input').val(current_num);
                    update_item(self.siblings('input').data('item-id'));
                }
            })
        })


        $(function () {
            // 修改 标签上的地址值
            {% if order == 2 %}
                $("#price").attr('href','{% url "商品首页:商品类型" cate_id 3 %}');
            {% elif order == 3 %}
                $("#price").attr('href','{% url "商品首页:商品类型" cate_id 2 %}');
            {% endif %}
        })
    </script>
{% endblock %}

